.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color:rgb(158, 86, 226);
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color:azure; 
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: silver;
  color: #4b2e83;
}